<nav class="navbar" *ngIf="authService.isLoggedIn$ | async">
  <div class="nav-left">
    <a routerLink="/annunci">📃 Annunci</a>
    <a routerLink="/preferiti">⭐ Preferiti</a>
    <a routerLink="/annunci-propi">📃 Annunci fatti da te</a>
  </div>

  <div class="nav-right">
    <div class="profile-dropdown">
      <button class="profile-btn">
        👤 Profilo: {{authService.currentUserName$ | async}}
      </button>
      <div class="dropdown-content">
        <a routerLink="/carrello">Carrello</a>
        <a routerLink="/profilo">Il mio profilo</a>
        <a (click)="authService.logout()">Logout</a>
      </div>
    </div>
  </div>
</nav>