<div class="carrello-container" *ngIf="carrello && carrello.items.length; else emptyCart">
  <h2>🛒 Il tuo carrello</h2>

  <div class="carrello-item" *ngFor="let cartItem of carrello!.items">
    <div class="item-info">
      <h2>{{ cartItem.listingName }}</h2>
      <h4>{{ cartItem.price }}</h4>
      <p>Quantità: {{ cartItem.quantity }}</p>
    </div>
    <button class="remove-btn" (click)="removeCarrello(cartItem)">Rimuovi</button>
  </div>

  <div class="carrello-footer" >
    <strong>Totale: €{{ totalPrice }}</strong>
  </div>
</div>

<ng-template #emptyCart>
  <div class="empty-cart">
    <p>Il carrello è vuoto.</p>
  </div>
</ng-template>